main {
  background-color: white;
}

.menu {
  display: flex;
  align-items: center;
  padding-top: 207px;
  padding-bottom: 400px;
}

#item {
  background-image: url(../../images/company-item.png);
}

.type__company {
  display: flex;
  justify-content: space-between;
}
.type__company .type__h h1 {
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.type__company .type__h p {
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.type__company .type__img {
  background-image: url(../../images/company-background.png);
}