//colors:
$color-primary:#FF6633;
$color-secondary: #70C05B;
$color-third: rgba(202, 147, 96, 0.50);

$color-hover-button: rgba(255, 102, 51, 1);
$color-button: #E5FFDE;

$color-white: #ffffff;
$color-black: #291E0F;
$color-bg: #FBF8EC;
$color-grey: #606060;
$color-greybg: #BFBFBF;
$color-black-grey:#414141;
$color-grey-btn:#F3F2F1;
$color-p-grey:#8f8f8f;

$color-card: #FCD5BA;
$color-cardtwo: #E5FFDE;

//size
$container: 1140px;
$containersc: 1120px;
$border-radius: 4px;

//fonts
$rubik: 'Rubik', sans-serif;